* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;
}

#container {
	display: grid;
	justify-content: center;
}

#calc {
	border: 1px solid gray;
	box-shadow: 1px -1px 10px 0px #cbc6c6;
	width: 350px;
	height: 470px;
	border-radius: 7px;
}

#display {
	height: 100px;
	display: grid;
	align-items: end;
	justify-content: end;
	overflow: hidden;
}

#buttonBlock {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
	grid-gap: 7px;
	margin-top: 15%;
}

.btn {
	font-size: 25px;
	width: 55px;
	height: 55px;
	border-radius: 30%;
	border: none;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	color: black;
	text-decoration: none;
	outline: none;
}

.btn-white {
	color: rgb(24, 24, 24);
	background-color: rgb(167, 166, 166);
}

.btn-white:hover {
	transition: 0.3s;
	filter: brightness(120%);
}

.btn-orange {
	background-color: orange;
	color: rgb(24, 24, 24);
}

.btnAction:hover {
	transition: 0.3s;
	filter: brightness(120%);
}

.btn-gray {
	background-color: #c1bfbf;
}

.btnNumber:hover {
	transition: 0.3s;
	filter: brightness(120%);
}

#dis {
	font-size: 40px;
}
